<p id="notice"><%= notice %></p>

  <h1><%= @painting.title %></h1>

  <p><%= image_tag @painting.image.url(:medium) %></p>

  <p><%= number_to_currency @painting.price %></p>

  <p><%= @painting.description %></p>

  <p>
    <strong>Dimensions:</strong>
    <%= @painting.size %>
  </p>

  <p>
    <strong>Materials:</strong>
    <%= @painting.materials %>
  </p>
  
  <p>
    <%= form_tag('/add_to_cart') do %>

    <%= submit_tag "Add To Cart", class: "btn btn-info" %>
    <% end %>
  </p>

<% if can? :update, @article %>
<%= link_to 'Edit', edit_painting_path(@painting) %> |
<% end %>
<%= link_to 'Back', root_path %>

<p>&nbsp</p>
<p>&nbsp</p>
<p>&nbsp</p>
